In [1]:
p = (4, 5)
x, y = p

In [2]:
x

4

In [3]:
y

5

In [14]:
data = ['ACME', 50, 91.1, (2012, 12, 21)]

In [15]:
name, shares, price, date = data

In [12]:
name

'ACME'

In [16]:
date

(2012, 12, 21)

In [17]:
name, shares, price, (year, mon, day) = data

In [18]:
name

'ACME'

In [19]:
year

2012

In [20]:
mon

12

In [21]:
day

21

解压赋值，不仅仅用于列表、元组、也用于字符串、文件对象、迭代器、生成器

In [22]:
s = 'Hello'

In [23]:
a, b, c, d, e = s

In [24]:
a

'H'

In [25]:
data = ['ACME', 50, 91.1, (2012, 12, 21)]

In [26]:
_, shares, price, _ = data #采用_做占位

In [27]:
shares

50

In [28]:
price

91.1

In [31]:
import numpy as np
def drop_first_last(grades):
    first, *middle, last = grades
    return np.mean(middle)

grades = [60, 70, 85, 88, 45, 76]

drop_first_last(grades)  #原书采用avg函数， 这里采用mean函数

72.0

In [32]:
record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212')

In [33]:
name, email, *phone_numbers = record

In [34]:
name

'Dave'

In [35]:
email

'dave@example.com'

剩余元素均赋值于phone_numbers, 采用*加变量, 星号表达式也可用于开头

In [42]:
import numpy as np
def avg_comparison(trailing_avg, current_qtr):
    trailing_avg = np.sum(trailing_qtrs) / len(trailing_qtrs)
    return trailing_avg, current_qtr

In [43]:
sales_record = [60, 70, 85, 88, 45, 76]
*trailing_qtrs, current_qtr = sales_record
avg_comparison(trailing_avg, current_qtr)

(69.6, 76)

In [ ]:
书本翻译的代码应该有问题，修改为